@import "tailwindcss";
@import '@fontsource-variable/public-sans';
@import '@fontsource/barlow/400.css';
@import '@fontsource/barlow/500.css';
@import '@fontsource/barlow/600.css';
@import '@fontsource/barlow/700.css';
@import '@fontsource/barlow/800.css';


/* Basic reset & layout */
html {
  height: 100%;
  -webkit-overflow-scrolling: touch;
}
body, #root, #root__layout {
  display: flex;
  flex: 1 1 auto;
  min-height: 100%;
  flex-direction: column;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
input[type="number"] { appearance: none; }
/* Remove spinner */

:root {
  --color-bg: #f6f6f6;
  --color-bg-secondary: #d6d5dc;
  --color-button: #443f5f;
  --color-button-hover: #6f64ab;
  --color-text: #0f172a;
  --color-text-hover: #65686d;
  --color-placeholder-text : #9ca3af;
  --color-text-secondary: #4b5563;
  --color-primary: #3b82f6;
  --color-accent: #443f5f;
  --color-border: #8c8c8c;
  --color-bright: #bfb4ff;
  --color-ghost: #c0c0c0;
  
  --status-pending: #a84122;
  --status-in-progress: #103b7f;
  --status-completed: #007e17;
  --priority-low: #0039b3;
  --priority-mid: #5e4794;
  --priority-high: #be2d2d;
  --color-badge: #16122c31;
}

.dark {
  --color-bg: #111112;
  --color-bg-secondary: #222427;
  --color-button: #222427;
  --color-button-hover: #6f64ab;
  --color-text: #e2e8f0;
  --color-text-secondary: #9ca3af;
  --color-placeholder-text: #6b7280;
  --color-text-hover: #9b9b9b;
  --color-primary: #3b82f6;
  --color-accent: #6c649b;
  --color-border: #404449;
  --color-ghost: #242424;
  --color-bright: #bfb4ff;

  --status-pending: #ffc765;
  --status-in-progress: #cc7ff2;
  --status-completed: #4ebe77;
  --priority-low: #76a0fb;
  --priority-mid: #bda0ff;
  --priority-high: #d64c4c;
  --color-badge: #443f5f53;
}

/* WebKit Browsers */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #4b5563;
  border-radius: 4px;
  visibility: hidden;
  transition: visibility 0.2s ease-in-out;
}

/* Auto-hide behavior on scrollable elements */
.scrollable:hover::-webkit-scrollbar-thumb,
.scrollable:focus::-webkit-scrollbar-thumb {
  visibility: visible;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}